.information {
    position: relative;
    overflow: hidden;
    background: var(--color-nile-blue);

    .areaLightleft {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        height: 100%;
        position: relative;

        img {
            margin-right: 1rem;

        }

        p {
            color: #ffffff;
            margin-bottom: 0;
            line-height: 2rem;

            span {
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 2rem;
                display: block;
                color: #ffffff;
                margin-top: .5rem;
            }
        }
        
    }

    .areaLightright {
        background: var(--color-nile-blue);
        padding: 4rem 3rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        height: 100%;
        position: relative;

        img {
            margin-right: 1rem;
            
        }

        p {
            color: #ffffff;
            margin-bottom: 0;
            line-height: 2rem;

            span {
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 2rem;
                display: block;
                color: #ffffff;
                margin-top: .5rem;
            }
        }

       
        &::after {
            content: "";
            position: absolute;
            width: 4000px;
            height: 100%;
            left: 100%;
            top: 0;
            background: var(--color-nile-blue);
        }
    }

    .areaDarkBlue {
        background: #0F213E;
        padding: 4rem 2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        height: 100%;

        img {
            margin-right: 1rem;
            
        }

        p {
            color: #ffffff;
            margin-bottom: 0;
            line-height: 2rem;

            span {
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 2rem;
                display: block;
                color: #ffffff;

                &:first-child {
                    margin-top: .5rem;
                }
            }
        }

        
    }

    .fullContainer {
        padding: 0;
        width: 33.3%;
    }
}

@media (max-width:768px) {
    .information {

        .areaLightleft {
            padding: 3rem;
            justify-content: center;

            p {
                span {
                    font-size: 1.3rem;
                    line-height: 1.7rem;
                }
            }
        }

        .areaDarkBlue {
            padding: 3rem;
            justify-content: center;

            p {
                span {
                    font-size: 1.3rem;
                    line-height: 1.7rem;
                }
            }
        }

        .areaLightright {
            padding: 3rem;
            justify-content: center;

            p {
                span {
                    font-size: 1.3rem;
                    line-height: 1.7rem;
                }
            }
        }
        
        .fullContainer {
            width: 100%;
        }   
    }
}