.internaContainer {
    height: 25rem;
    position: relative;  
    
    @media (max-width: 768px){
        height: 100px !important;
    }
}

.bannerInternas {
    background: url('../../../public/banner-internas.jpg') center no-repeat;
    background-size: cover;
    height: 0;
    opacity: 1;

    @media (max-width: 768px){
        height: 100px !important;
    }
}

.areaWhite {
    padding: 9.5rem 0;

    .swiperParceiros {
        .parceirosHolder {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80px;

            img { max-width: 90%;}
        }
    }

    @media (max-width: 768px){
        padding: 2rem  0;
    }

    .pageIndication {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        border-bottom: 2px solid #BFC0BE;
        padding-bottom: 2.4rem;
        margin-bottom: 6.4rem;

        a {
            margin-bottom: 0;
            font-size: 1.6rem;
            font-weight: 600;
            color: #B0B0B0;
            line-height: 2.4rem;
            text-decoration: none;
            display: inline-block;

            &:last-child {
                color: #192D4E;
            }
        }

        span {
            margin-bottom: 0;
            font-size: 1.6rem;
            font-weight: 600;
            color: #B0B0B0;
            line-height: 2.4rem;
            margin: 0 2.1rem;
        }
    }

    .boxTools {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5rem;
        margin-bottom: 6rem;

        @media (max-width: 768px){
            grid-template-columns: 1fr 1fr;
            grid-gap: 2rem;
            margin-bottom: 3rem;
        }

        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            border-bottom: 5px solid #ccc;
            padding-bottom: 1rem;
            transition: all .3s ease-in-out;

            img {
                max-width: 90%;
                margin-bottom: 3rem;

                @media (max-width: 768px){
                    max-width: 60%;
                    margin: 0 auto 3rem;
                    display: block;
                }
            }

            .toolsName {
                font-size: 2.2rem;
                color: var(--color-nile-blue);
                font-weight: 600;
                line-height: 2.4rem;

                @media (max-width: 768px){
                    font-size: 1.6rem;
                }
            }

            &:hover {
                border-color: #90C652;
                color: none;
            }
        }
    }
}

.imagesTools {
    padding: 0;
    background: #223655;

    .fullContainer {
        width: 25%;
        padding: 0;

        img { 
            width: 100%;
        }
    }
}

@media (max-width: 769px) {
    .imagesTools {
        padding: 0 0 2rem;
    }
}

.listDefault {
    margin-bottom: 3rem;
    padding: 0;
}

.listDefault li {
    font-size: 1.4rem;
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: .5rem;
    padding-bottom: .5rem;
    list-style: none;
}

.listBox {
    margin-bottom: 3rem;
    padding: 3rem;
    border-radius: 10px;
    background: #f1f1f1;
    height: 23rem;
    display: flex;
    flex-direction: column;
}

.listBox li {
    font-size: 1.4rem;
    border-bottom: 1px solid #192D4E30;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    list-style: none;
}