.internaContainer {
    height: 25rem;
    position: relative;  
    
    @media (max-width: 768px){
        height: 100px !important;
    }
}

.bannerInternas {
    background: url('../../../public/banner-internas.jpg') center no-repeat;
    background-size: cover;
    height: 0;
    opacity: 1;

    @media (max-width: 768px){
        height: 100px !important;
    }
}

.areaWhite {
    padding: 9.5rem 0;

    @media (max-width: 768px){
        padding: 3rem 0;
    }

    @media (max-width: 768px){
        padding: 2rem  0;
    }

    .swiperParceiros {
        .parceirosHolder {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80px;

            img { max-width: 90%;}
        }
    } 

    .pageIndication {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-bottom: 2.5rem;
        margin-bottom: 4.5rem;

        @media (max-width: 768px){
            margin-bottom: 3rem;
        }

        a {
            margin-bottom: 0;
            font-size: 1.6rem;
            font-weight: 600;
            color: #B0B0B0;
            line-height: 2.4rem;
            text-decoration: none;
            display: inline-block;

            @media (max-width: 768px){
                font-size: 1.4rem;
            }

            &:last-child {
                color: #192D4E;
            }
        }

        span {
            margin-bottom: 0;
            font-size: 1.6rem;
            font-weight: 600;
            color: #B0B0B0;
            line-height: 2.4rem;
            margin: 0 2.1rem;

            @media (max-width: 768px){
                margin: 0 1rem;
            }
        }
    }

    &.product .pageIndication {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-bottom: 0;
        margin-bottom: 0;

        @media (max-width: 768px){
            margin-bottom: 3rem;
        }

        a {
            margin-bottom: 0;
            font-size: 1.6rem;
            font-weight: 600;
            color: #fff;
            line-height: 2.4rem;
            text-decoration: none;
            display: inline-block;

            @media (max-width: 768px){
                font-size: 1.4rem;
            }

            &:hover {
                text-decoration: underline;
            }
        }

        span {
            margin-bottom: 0;
            font-size: 1.6rem;
            font-weight: 600;
            color: #fff;
            line-height: 2.4rem;
            margin: 0 2.1rem;

            @media (max-width: 768px){
                margin: 0 1rem;
            }
        }
    }

    .sidebar {
        p {
            margin-bottom: 2rem;
            font-size: 1.2rem;
            color: #90C652;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-weight: 700;
        }

        ul {
            list-style: none;
            padding: 0;
            margin-bottom: 4rem;

            li {
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 3.2rem;
                border-bottom: 1px solid #90C652;
                color: #707070;
                padding: 1rem 0;
                position: relative;
                cursor: pointer;

                &:hover:after, &.active:after {
                    border-color: var(--color-nile-blue);
                } 

                &:hover:before, &.active:before {
                    opacity: 1;
                } 
            }
        }
    }

    .products {
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 60px;
        padding: 0 0 10rem;

        @media (max-width: 768px){
            grid-template-columns: 1fr;
            padding-bottom: 3rem;
        }

        .productsBox {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start; 
            position: relative;
            border: 1px solid #e2e2e2;
            border-radius: 8px;
            padding: .5rem;
            padding-bottom: 5.5rem;
            height: 18rem;

            &::after {
                content: "";
                position: absolute;
                width: 16.2rem;
                height: 4px;
                left: 0;
                bottom: 0;
                background: #90C652;
            }

            .productsImg {
                height: 76px;
                width: 91px;
                img { 
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            
            .productsDescription {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                margin-left: 3rem;
                padding-top: 1rem;
                padding-right: 1rem;
    
                strong {
                    font-size: 2rem;
                    font-weight: 700;
                    line-height: 2.4rem;
                    color: var(--color-nile-blue);
                    margin-bottom: 1.5rem;

                    @media (max-width: 768px){
                        font-size: 1.6rem;
                    }
                }

                a {
                    font-size: 1.2rem;
                    font-weight: 700;
                    line-height: 4.6rem;
                    color: var(--color-nile-blue);
                    border: 1px solid var(--color-nile-blue);
                    height: 4.6rem;
                    padding: 0 1.4rem;
                    border-radius: 5px;
                    text-decoration: none;
                    text-transform: uppercase;
                    transition: all .3s ease-in-out;

                    svg {
                        margin-right: 1rem;
                        transform: translateY(-2px)
                    }

                    &:hover {
                        background: var(--color-nile-blue);
                        color: #ffffff;
                    }

                    &:hover path, &:hover ellipse, &:hover line {
                        fill: #ffffff;
                   } 
           
                   path, ellipse, line {
                       transition: all .3s ease-in-out;
                   }
            
                }
            }
        }
    }

    .productsColumn {
        display: flex !important;
        flex-direction: column;
        gap: 60px;
        padding: 0 0 10rem;
    }
}

.boxProdutos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 12rem;
    text-align: center;

    .produtosImg {
        width: 82px;
        height: 82px;
        margin: auto;
        margin-bottom: 1.5rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .produtosTitle {
        p {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.4rem;
            color: var(--text);
            padding-bottom: 3rem;
        }
    }

    a {
        margin: auto;
    }
}

@media (max-width: 769px) {
    .areaWhite {

        padding: 3rem 2rem;

        .boxProdutos{
            grid-template-columns: 1fr;
            margin-bottom: 5rem;
            text-align: center;

            .produtosImg {
                margin-bottom: 1.6rem;
                width: auto;
                height: auto;

                img {
                    width: 20%;
                }
            }

            .produtosTitle {

                p {
                    padding-bottom: 0;
                }
            }
        }
    }
}

.halfColor {
    padding: 8rem 0 4rem;
    background-color: #192D4E;
    position: relative;

    .textTitle {
        font-size: 13.9rem;
        font-weight: 700;
        color: #A8D445;
        line-height: 9.8rem;
        margin-top: 2rem;

        span {
            font-size: 3.5rem;
            line-height: 2.8rem;
            color: #ffffff;
            font-weight: 600;
            display: block;
            margin: 1.5rem 0 6rem;
        }
    }

    .description {
        p { 
            padding-right: 8rem;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 2.8rem;
            color: #ffffff;
            
        }
    }

    .management {
        text-align: center;

        img { 
            margin-bottom: 4rem;
            width: 90%;
        }
    }

    .boxManagement {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 2rem;

        .imgCircle {
            height: 8rem;
            width: 8rem;

            img { 
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 100%;
                margin-bottom: 1rem;
            }
        }

        .boxSubtitle {
            margin-top: 1rem;

            span {
                font-size: 1.3rem;
                color: #ffffff;
                line-height: 1.6rem;
                font-weight: 600;
                text-align: center;
            }
        }
    }

    a {
        text-decoration: none;
    }
    
    // &:after {
    //     content: '';
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     background: url('../../../public/bg-header.png') bottom no-repeat;
    //     z-index: 10;
    //     width: 100%;
    //     height: 100%;
    //     opacity: .1;
    // }
}

@media (max-width: 768px) {

    .halfColor {

        padding: 3rem 2rem;

        .textTitle {
            font-size: 7rem;
            line-height: 5rem;
            margin-top: 0;
            padding: 0;

            span {
                font-size: 2.2rem;
                line-height: 2rem;
                margin: 1.5rem 0;
            }
        }

        .description {
            
            p {
                padding-right: 0;
                margin-bottom: 0;
                font-size: 1.3rem;
            }
        }

        .management {
             
            img { 
                margin: 2rem 0;
                width: 100%;
            }

        }

        .boxManagement {

            .boxSubtitle {
                span {
                    font-size: 1rem;
                }
            }
        }

    }
}

.imagesTools {
    padding: 0;
    background: #223655;

    .fullContainer {
        width: 25%;
        padding: 0;

        img { 
            width: 100%;
        }
    }
}

@media (max-width: 769px) {
    .imagesTools {
        padding: 0 0 2rem;
    }
}