@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-nile-blue: #192D4E;
  --color-mantis: #90C652;
  --color-dove-gray: #6D6D6D;

  --title-121: 9.8rem;
  --title-58: 5.8rem;
  --title-36: 3.6rem;
}

html {
  font-size: 62.5%;
}

body { 
  font-family: 'Montserrat', sans-serif;
}

.cover {
  background: #000;
}

.container {
  max-width: 1080px;
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.swiper-container {
  overflow: hidden;
  padding: 0 2rem;
}

.swiper-button-prev {
  left: -5px;
  color: var(--color-mantis);
  transform: scale(.6)
}

.swiper-button-next {
  right: -5px;
  color: var(--color-mantis);
  transform: scale(.6)
}