h1 {
    font-size: var(--title-121);
    color: #ffffff;
    line-height: 10rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin-top: -8.6rem;
    margin-bottom: 5.5rem;

    span {
        color: #90C652;
    }
}

@media (max-width:768px) {
    h1 {
        font-size: 3.5rem;
        line-height: 3.6rem;
        margin-top: -3.3rem;
        margin-bottom: 2.5rem;
    }
}

h2 {
    font-size: var(--title-58);
    color: var(--color-nile-blue);
    line-height: 9.8rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 3px solid #BFC0BE;
    position: relative;
    margin-bottom: 10rem;

    &:after {
        content: "";
        position: absolute;
        height: 3px;
        width: 28rem;
        left: 0;
        bottom: -3px;
        background: #3B3966;
    }
}

@media (max-width:768px) {
    h2 {
        font-size: 3rem;
        line-height: 4.5rem;
        margin-bottom: 2.5rem; 
        
        &:hover {
            width: 20rem;
        } 
    }
}

h4 {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 2.4rem;
    color: var(--color-nile-blue);
    margin-bottom: 1.6rem;
}

@media(max-width: 768px) {
    h4 {
        font-size: 2rem;
        line-height: 2rem;
        margin-bottom: 1.6rem;
    }
}

p {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.8rem;
    color: #666666;
    margin-bottom: 2.5rem;
}

@media (max-width: 768px) {
    p {
        font-size: 1.1rem;
        line-height: 2.3rem;
        margin-bottom: 1.6rem;
    }
}